body {
  font-family: Arial;
  margin: 0;
}

header {
  background: black;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
  background: #f4f4f4;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
}

.form {
  text-align: center;
  margin-top: 50px;
}

.form input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.services {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.services div {
  border: 1px solid #ddd;
  padding: 20px;
}