
.parentcontainer {
    text-align: center;
    align-items: center;
}
.input-box {
    padding: 10px;
    width: 80%;
}
.add {
    padding: 10px;
    background-color: rgb(32, 187, 32);
    color: white;
    border-radius: 5px;
}
